{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}South - Real Estate Agency | Blog{% endblock %}
{% block content %}

    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="south-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                   
                    <!-- Single Blog Area -->
                    {% for x in blog_list %}
                    <div class="single-blog-area mb-50">
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <img src="{{ x.image.url }}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <!-- Date -->
                            <div class="post-date">
                                <a href="#">{{x.published_date}}</a>
                            </div>
                            <!-- Headline -->
                            <a href="#" class="headline">{{ x.heading }}</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p>By <a href="#">{{ x.published_by }}</a> | in <a href="#">Uncategorized</a> </p>
                            </div>
                            <p>{{ x.description }}</p>
                            <!-- Read More btn -->
                            <a href="{% url 'HomePage:blog_name_with_single' x.pk %}" class="btn south-btn">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                   


                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Search Widget -->
                        <div class="search-widget-area mb-70">
                            <form action="#" method="get">
                                <input type="search" name="search" id="search" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>



                        <!-- Catagories Widget -->
                        <div class="featured-properties-slides owl-carousel">

                            <!-- Single Slide -->
                            {% for avn in property_list %}
                            <div class="single-featured-property">
                                <!-- Property Thumbnail -->
                                <div class="property-thumb">
                                    <img src="{{ avn.property_image.url }}" alt="">

                                    <div class="tag">
                                        <span>For {{ avn.status }}</span>
                                    </div>
                                    <div class="list-price">
                                        <p>Rs. {{ avn.price }}</p>
                                    </div>
                                </div>
                                <!-- Property Content -->
                                <div class="property-content">
                                    <h5>{{ avn.property_heading }}</h5>
                                    <p class="location"><img src="{% static 'img/icons/location.png'%}" alt="">{{ avn.full_address }}</p>
                                    <p>{{ avn.facilities }}</p>
                                    <div class="property-meta-data d-flex align-items-end justify-content-between">
                                        <div class="new-tag">
                                            <img src="{% static 'img/icons/new.png'%}" alt="">
                                        </div>
                                        <div class="bathroom">
                                            <img src="{% static 'img/icons/bathtub.png'%}" alt="">
                                            <span>{{ avn.num_bathroom }}</span>
                                        </div>
                                        <div class="garage">
                                            <img src="{% static 'img/icons/garage.png'%}" alt="">
                                            <span>{{ avn.num_garage }}</span>
                                        </div>
                                        <div class="space">
                                            <img src="{% static 'img/icons/space.png'%}" alt="">
                                            <span>{{ avn.tot_area_space }} sq ft</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Pagination -->
                    <div class="south-pagination mt-100 d-flex">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}